<!DOCTYPE html>
<head>
    <link rel="icon" href="../img/main-logo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/event.css">
    <title>ToMeet</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <img src="../img/icons/event.svg">
                    <a href="#" class="button">Events</a>
                </li>
                <li>
                    <img src="../img/icons/friend.svg">
                    <a href="#" class="button">Friends</a>
                </li>
                <li>
                    <img src="../img/icons/map.svg">
                    <a href="#" class="button">Map</a>
                </li>
                <li>
                    <img src="../img/icons/calendar.svg">
                    <a href="#" class="button">Calendar</a>
                </li>
                <li>
                    <img src="../img/icons/message.svg">
                    <a href="#" class="button">Messages</a>
                </li>
                <li>
                    <img src="../img/icons/setting.svg">
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search friend">
                    </form>
                </div>
                <div class="add-button">
                    + add friend
                </div>
            </header>
            <form class="change-password-form">
                <div class="form-align">
                    <p class="form-header">CHANGE PASSWORD</p>
                    <p>Current Password</p>
                    <input name="current-password" type="password">
                    <p>New Password</p>
                    <input name="new-password" type="password">
                    <p>Repeat New Password</p>
                    <input name="new-password-again" type="password">
                    <div class="horizontal-align">
                        <input type="checkbox" id="show">
                        <label for="show">Show password</label>
                    </div>
                    <div class="button-align">
                        <button>UPDATE</button>  
                    </div>
                </div>
            </form>
        </main>
    </div>
</body>