<!DOCTYPE html>
<head>
    <link rel="icon" href="../img/main-logo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/events.css">
    <title>ToMeet</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <img src="../img/icons/event.svg">
                    <a href="#" class="button">Events</a>
                </li>
                <li>
                    <img src="../img/icons/friend.svg">
                    <a href="#" class="button">Friends</a>
                </li>
                <li>
                    <img src="../img/icons/map.svg">
                    <a href="#" class="button">Map</a>
                </li>
                <li>
                    <img src="../img/icons/calendar.svg">
                    <a href="#" class="button">Calendar</a>
                </li>
                <li>
                    <img src="../img/icons/message.svg">
                    <a href="#" class="button">Messages</a>
                </li>
                <li>
                    <img src="../img/icons/setting.svg">
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search event">
                    </form>
                </div>
                <div class="add-event">
                    + add event
                </div>
            </header>
            <section class="events">
                <p id="page-title">My events</p>
                <div id="event-1">
                    <div class="organizer">
                        <p>Organizer:</p>
                        <img src="../img/avatar.svg">
                        <p>Login</p>
                    </div>
                    <div class="name">
                        <p id="event-title">Name</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="informations">
                        <p>Place:</p>
                        <p>Date:</p>
                        <p>Time:</p>
                        <p>Type:</p>
                        <p>Number of participants:</p>
                    </div>
                </div>
                <div id="event-2">
                    <div class="organizer">
                        <p>Organizer:</p>
                        <img src="../img/avatar.svg">
                        <p>Login</p>
                    </div>
                    <div class="name">
                        <p id="event-title">Name</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="informations">
                        <p>Place:</p>
                        <p>Date:</p>
                        <p>Time:</p>
                        <p>Type:</p>
                        <p>Number of participants:</p>
                    </div>
                </div>
                <div id="event-3">
                    <div class="organizer">
                        <p>Organizer:</p>
                        <img src="../img/avatar.svg">
                        <p>Login</p>
                    </div>
                    <div class="name">
                        <p id="event-title">Name</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="informations">
                        <p>Place:</p>
                        <p>Date:</p>
                        <p>Time:</p>
                        <p>Type:</p>
                        <p>Number of participants:</p>
                    </div>
                </div>
                <div id="event-4">
                    <div class="organizer">
                        <p>Organizer:</p>
                        <img src="../img/avatar.svg">
                        <p>Login</p>
                    </div>
                    <div class="name">
                        <p id="event-title">Name</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="informations">
                        <p>Place:</p>
                        <p>Date:</p>
                        <p>Time:</p>
                        <p>Type:</p>
                        <p>Number of participants:</p>
                    </div>
                </div>
                <div id="event-5">
                    <div class="organizer">
                        <p>Organizer:</p>
                        <img src="../img/avatar.svg">
                        <p>Login</p>
                    </div>
                    <div class="name">
                        <p id="event-title">Name</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="informations">
                        <p>Place:</p>
                        <p>Date:</p>
                        <p>Time:</p>
                        <p>Type:</p>
                        <p>Number of participants:</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>