<!DOCTYPE html>
<head>
    <link rel="icon" href="public/img/main-logo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/friend.css">
    <title>ToMeet</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="public/img/logo.svg">
            <ul>
                <li>
                    <img src="public/img/icons/event.svg">
                    <a href="#" class="button">Events</a>
                </li>
                <li>
                    <img src="public/img/icons/friend.svg">
                    <a href="#" class="button">Friends</a>
                </li>
                <li>
                    <img src="public/img/icons/map.svg">
                    <a href="#" class="button">Map</a>
                </li>
                <li>
                    <img src="public/img/icons/calendar.svg">
                    <a href="#" class="button">Calendar</a>
                </li>
                <li>
                    <img src="public/img/icons/notifications.svg">
                    <a href="#" class="button">Notifications</a>
                </li>
                <li>
                    <img src="public/img/icons/setting.svg">
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header class="search-header">
                <form class="search-bar">
                    <input placeholder="search friend">
                </form>
                <div class="add-button">
                    + add friend
                </div>
            </header>
            <section class="friends">
                <p id="page-title">Friends</p>
                <div class="friends-align">
                    <img src="public/img/arrow.svg">
                    <div id="friend1">
                        <div class="user-info">
                            <img src="public/img/avatar.svg">
                            Login
                        </div>
                        <div class="events-number">
                            Current Events
                            <div class="circle">
                                5
                            </div>
                        </div>
                    </div>
                    <div id="friend2">
                        <div class="user-info">
                            <img src="public/img/avatar.svg">
                            Login
                        </div>
                        <div class="events-number">
                            Current Events
                            <div class="circle">
                                5
                            </div>
                        </div>
                    </div>
                    <div id="friend3">
                        <div class="user-info">
                            <img src="public/img/avatar.svg">
                            Login
                        </div>
                        <div class="events-number">
                            Current Events
                            <div class="circle">
                                5
                            </div>
                        </div>
                    </div>
                    <img id="right-arrow"src="public/img/arrow.svg">
                </div>
                <div class="add-button">
                    Invite to event
                </div>
            </section>
        </main>
    </div>
</body>