<!DOCTYPE html>
<head>
    <link rel="icon" href="../img/main-logo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/event.css">
    <title>ToMeet</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <img src="../img/icons/event.svg">
                    <a href="#" class="button">Events</a>
                </li>
                <li>
                    <img src="../img/icons/friend.svg">
                    <a href="#" class="button">Friends</a>
                </li>
                <li>
                    <img src="../img/icons/map.svg">
                    <a href="#" class="button">Map</a>
                </li>
                <li>
                    <img src="../img/icons/calendar.svg">
                    <a href="#" class="button">Calendar</a>
                </li>
                <li>
                    <img src="../img/icons/message.svg">
                    <a href="#" class="button">Messages</a>
                </li>
                <li>
                    <img src="../img/icons/setting.svg">
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search friend">
                    </form>
                </div>
                <div class="add-button">
                    + add friend
                </div>
            </header>
            <section class="maps">
                <p id="page-title">Map</p>
                <img id="map" src="../img/map.png">
                <div class="add-button">
                    Join to event
                </div>
            </section>
        </main>
    </div>
</body>