<!DOCTYPE html>
<head>
    <link rel="icon" href="../img/main-logo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>ToMeet</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form class="extended-form">
                <div class="form-align">
                    <p id="form-header">SIGN UP</p>
                    <p>Login</p>
                    <input name="login" type="text">
                    <p>Email</p>
                    <input name="email" type="text">
                    <p>Password</p>
                    <input name="password" type="password">
                    <p>Repeat your password</p>
                    <input name="extra-password" type="password">
                    <div class="show-password-box">
                        <input type="checkbox" id="show">
                        <label for="show">Show password</label>
                    </div>
                    <div class="form-button-align">
                        <button>SIGN UP</button>
                        <a href="#">Log in</a>  
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>