<!DOCTYPE html>
<head>
    <link rel="icon" href="public/img/main-logo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>ToMeet</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="public/img/logo.svg">
            <ul>
                <li>
                    <img src="public/img/icons/event.svg">
                    <a href="#" class="button">Events</a>
                </li>
                <li>
                    <img src="public/img/icons/friend.svg">
                    <a href="#" class="button">Friends</a>
                </li>
                <li>
                    <img src="public/img/icons/map.svg">
                    <a href="#" class="button">Map</a>
                </li>
                <li>
                    <img src="public/img/icons/calendar.svg">
                    <a href="#" class="button">Calendar</a>
                </li>
                <li>
                    <img src="public/img/icons/notifications.svg">
                    <a href="#" class="button">Notifications</a>
                </li>
                <li>
                    <img src="public/img/icons/setting.svg">
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header class="user-header">
                <div class="user-bar">
                    <img id="bar-avatar" src="public/img/avatar.svg">
                    Login
                    <img id="bar-arrow" src="public/img/menu-arrow.svg">
                </div>
            </header>
            <section class="settings">
                <img id="big-logo" src="public/img/avatar.svg">
                <div class="login">
                    Login
                </div>
                <div class="setting">
                    Change password
                </div>
                <div class="setting">
                    Delete account
                </div>
                <div class="add-button">
                    LOG OUT
                </div>
            </section>
        </main>
    </div>
</body>