<!DOCTYPE html>
<head>
    <link rel="icon" href="../img/main-logo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>ToMeet</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <img src="../img/icons/event.svg">
                    <a href="#" class="button">Events</a>
                </li>
                <li>
                    <img src="../img/icons/friend.svg">
                    <a href="#" class="button">Friends</a>
                </li>
                <li>
                    <img src="../img/icons/map.svg">
                    <a href="#" class="button">Map</a>
                </li>
                <li>
                    <img src="../img/icons/calendar.svg">
                    <a href="#" class="button">Calendar</a>
                </li>
                <li>
                    <img src="../img/icons/notifications.svg">
                    <a href="#" class="button">Notifications</a>
                </li>
                <li>
                    <img src="../img/icons/setting.svg">
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header class="user-header">
                <div class="user-bar">
                    <img id="bar-avatar" src="../img/avatar.svg">
                    Login
                    <img id="bar-arrow" src="../img/menu-arrow.svg">
                </div>
            </header>
            <section class="start-page">
                <p id="page-title">Welcome</p>
                <img id="big-logo-start" src="../img/logo.svg">
                <div id="start-text">
                    <p class="page-info">ToMeet is a site created to spend time with friends and meet new people.</p>
                    <p class="page-info">To get started, just click the button below.</p>
                </div>
                <div class="add-button">
                    Create Account
                </div>
            </section>
        </main>
    </div>
</body>