.events>div {
    background: #FFFFFF;
    border-radius: 2em;
    display: flex;
    height: 120px;
    justify-content: start;
    align-items: center;
    width: 80%;
}

.organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid grey;
    justify-content: center;
    width: 20%;
    height: 100%;
}

p {
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid grey;
    justify-content: start;
    width: 40%;
    height: 100%;
    overflow: auto;
    padding: 0 0.2em;
}

#event-title {
    font-size: 1.5em;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.4em;
    width: 40%;
    height: 100%;
    overflow: auto;
    padding: 0 0.2em;
}